.form{
  padding: 0 5px;
  
  &__field{
    border: none;
    border-bottom: 2px solid #cccccc; 
    width: 100%;
    box-sizing: border-box;
    transition: 0.4s;
    padding: 5px;
    margin-bottom: 10px;

    &:focus{
      outline: none;
      border-bottom: 2px solid #0aa1ff;
    }
  }

  &__productName{
    font-size: 20px;
    font-weight: bold;
  }

  &__description{
    font-size: 18px;
  }

  &__price{
    font-size: 24px;
    color: #0aa1ff;
    font-weight: bold;
    &::placeholder{
      color: #0aa1ff;
    }
  }
  &__priceContainer{
    display: flex;
    align-items: center;
    color: #0aa1ff;
    font-size: 24px;
    font-weight: bold;
    h5{
      padding-left: 10px;
    }
  }
}