.mainPage {
  height: 100vh;
  overflow: hidden;
  .wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    color: #fff;
    font-size: 42px;
    z-index: 200;
    max-width: 670px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
  }
  &__title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    color: #ffb400;
    font-size: 55px;
    margin-bottom: 30px;
  }
  &__description {
    max-width: 335px;
    font-weight: 300;
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 65px;
  }
  &__btnGroup {
    display: flex;
    align-items: center;
  }
  &__btn {
    border-radius: 50px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    padding: 21px 65px;
    margin-right: 50px;
    transition: all 0.5s;
    background: linear-gradient(to right, #30a06e, #02b521);
    border: 2px solid transparent;
    -webkit-box-shadow: -1px -1px 29px 5px rgba(55, 245, 89, 0.15);
    -moz-box-shadow: -1px -1px 29px 5px rgba(55, 245, 89, 0.15);
    box-shadow: -1px -1px 29px 5px rgba(55, 245, 89, 0.15);
    cursor: pointer;
    &:hover {
      color: #049e59;
      border: 2px solid #049e59;
      background: transparent;
    }
  }
  &__aboutLink {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    display: flex;
    align-items: center;

    .add {
      font-size: 25px;
      color: #ffb400;
      background: transparent;
      font-weight: bold;
      margin-right: 23px;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #ffb400;
      border-radius: 50%;
      transition: all 0.3s;
    }
    .details {
      transition: all 0.3s;
      max-width: 130px;
    }

    &:hover {
      .add {
        color: #000000;
        background: linear-gradient(to top, #e7362f, #ffb400);
      }
    }
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
}
