.admin {
  display: flex;
  flex-direction: column;
  margin-left: 53px;
  min-height: 100vh;
  background: linear-gradient(240deg, #0aa1ff 50%, #63bff9 90%);
  padding: 20px;
  box-sizing: border-box;

  &__categories {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  &__category {
    padding: 20px 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #fff;
    color: #0aa1ff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 13px 9px -11px rgba(0, 0, 0, 0.48);
    h1 {
      font-size: 22px;
    }
    &:hover {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0px 24px 23px -11px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 0px 24px 23px -11px rgba(0, 0, 0, 0.48);
      box-shadow: 0px 24px 23px -11px rgba(0, 0, 0, 0.48);
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__card {
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 13px 9px -11px rgba(0, 0, 0, 0.48);
    min-height: 400px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    &:hover {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
      -webkit-box-shadow: 0px 24px 23px -11px rgba(0, 0, 0, 0.48);
      -moz-box-shadow: 0px 24px 23px -11px rgba(0, 0, 0, 0.48);
      box-shadow: 0px 24px 23px -11px rgba(0, 0, 0, 0.48);
    }
  }

  &__addProductCard {
    &:hover {
      transform: none;
    }
  }
  &__addProductCard:hover &__img::before {
    opacity: 1;
    content: " ";
    position: absolute;
    background: transparent;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
    border-radius: 5px;
  }
  &__iconsContainer {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    z-index: 100;
    cursor: pointer;
    color: #fff;
  }

  &__trashIcon {
    display: none;
    color: #fff;
    font-size: 22px;
    z-index: 100;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: red;
    }
  }

  &__uploadImgIcon {
    z-index: 100;
    cursor: pointer;
    padding: 0 10px;
  }

  &__img {
    width: 100%;
    height: 200px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
  }

  /* &__uploadImg {
    &:hover{
      cursor: pointer;
    }
  } */

  &__img::before {
    height: 100%;
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    width: 0;
    content: " ";
    opacity: 0.7;
    border-radius: 5px;
  }
  &__card:hover &__img::before {
    opacity: 1;
    content: " ";
    position: absolute;
    background: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
    border-radius: 5px;
  }

  &__img:hover &__iconsContainer {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
  }

  &__card:hover &__trashIcon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__cardCont {
    padding: 10px;
    h4 {
      font-size: 22px;
      font-weight: bold;
      color: #3d3d3d;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
    h5 {
      position: absolute;
      bottom: 10px;
      font-size: 24px;
      color: #0aa1ff;
      font-weight: bold;
    }
  }
  &__edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba($color: #63bff9, $alpha: 0.1);
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    color: #0aa1ff;
    font-size: 18px;
    outline: none;
    &:hover {
      background: rgba($color: #63bff9, $alpha: 0.3);
    }
  }
}
