// если захочешь обсудим в выходные и перепишем в другом стиле
.header {
  background: black;
  display: flex;
  padding: 10px 30px 10px 15px;
  justify-content: space-between;
  &__logo {
    width: 65px;
  }
  &__logoImg {
    width: 100%;
    border: none !important;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__navLink {
    text-decoration: none;
    color: #e5e5e5;
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.6s;
    &.active {
      color: #ffc31e;
      border: 2px solid #ffc31e;
      &:hover {
        border: 2px solid #ffc31e;
      }
    }

    &:hover {
      border: 2px solid #e5e5e5;
    }
  }

  &__shop {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    i {
      z-index: 100;
    }
  }
  &__shopCalc {
    z-index: 5;
    position: absolute;
    background: #e20000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    top: -10px;
    right: -13px;
  }
}
