.productsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
  flex: 1;
}

.product{
  width: 23%;
  z-index: 1;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 8px;
  background: #d3dde5;
  transition: all 0.6s;
  box-sizing: border-box;
  text-align: center;
  margin: 10px 0;
  
  &__imageContainer{
    max-width: 100%;
  }
  &__image{
    max-width: 100%;
  }
  &:hover{
    box-shadow: 8px 8px 21px -4px rgba(5,5,5,1);
  }
}