.panel{
  z-index: 1;
  font-size: 22px;
  position: absolute;
  transform: translateY(-50%) !important;
  
}

$gold: #ffb400;
$green: #05c26c;


.product{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 82px;
  box-sizing: border-box;
  &__container{
    position: relative;
  }

  &__goBackLink{
    position: absolute;
    font-size: 22px;
    right: 0;
    top: 100px;
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;

    &:hover{
      color: $gold;
    }
  }
  &__leftPanel{
    @extend .panel;
    top: 50%;
    left: -120px;
  }
  &__discount{
    font-size: 35px;
    font-weight: bold;
    color: $gold;
    margin-bottom: 20px;
    text-align: end;
  }
  &__description{
    font-size: 22px;
    font-family: "Ubuntu"/*, sans-serif*/;
    text-align: end;
  }
  &__image{
    img{
      width: 100%;
      max-width: 450px; 
      height: auto;
      object-fit: scale-down;
      border-radius: 50%;
      background: #fff;
    }
  }
  &__portionWrapper{
    position: absolute;
    bottom: 40px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
  }
  &__portion{
    padding: 0 10px;
    font-size: 20px;
    transition: color 0.4s;
    border-bottom: 1px solid transparent;
    &:hover{
      color: $gold;
      cursor: pointer;
    }
  }
  &__rightPanel{
    @extend .panel;
    top: 50%;
    right: -190px;
    width: 100%;
    max-width: 265px;
  }
  &__name{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__priceWrapper{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  &__currentPrice{
    color: $gold;
    font-weight: bold;
    font-size: 35px;
  }
  &__oldPrice{
    color: #bab5a8;
    text-decoration: line-through;
    font-size: 30px;
  }
  &__add{
    box-sizing: border-box;
    padding: 14px 55px;
    background: transparent;
    border: 2px solid $green;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    &:hover{
      border: 2px solid transparent;
      background: linear-gradient(to right, #30a06e, #02b521);
    }
    i{
      font-size: 25px;
      color: $green;
      background: transparent;
      font-weight: 300;
    }
    &:hover i {
      color: #fff;
    }
  }
}

.selectedPortion{
  color: $green;
  border-bottom: 1px solid $green;
}

@media (max-width: 575.98px) {
  .product{
    &__portionWrapper{
      bottom: unset;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &__leftPanel{
      display: none;
    }
    &__rightPanel{
      position: initial;
      text-align: center;
      max-width: initial;
    }
    &__priceWrapper{
      justify-content: center;
    }
    &__image{
      margin-bottom: 40px;
      img{
        max-width: 380px;
      }
    }
  }
}


@media (min-width: 576px) and (max-width: 767.98px) { 

  .product{
    padding: 0;
    &__rightPanel{
      right: -104px;
      max-width: 184px;
      width: 100%;
      top: 29px;
    }
    &__name{
      font-size: 24px;
    }
    &__currentPrice{
      font-size: 24px;
    }
    &__oldPrice{
      font-size: 20px;
    }
    &__add{
      padding: 7px 40px;
    }
    &__image{
      img{
        max-width: 350px;
        width: 100%;
      }
    }
    &__description{
      font-size: 20px;
    }
    &__leftPanel{
      top: 0;
      left: -59px;
    }
  }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
  .product{
    &__rightPanel{
      right: -175px;
      max-width: 200px;
      width: 100%;
    }
    &__name{
      font-size: 24px;
    }
    &__currentPrice{
      font-size: 24px;
    }
    &__oldPrice{
      font-size: 20px;
    }
    &__add{
      padding: 7px 40px;
    }
    &__image{
      img{
        max-width: 400px;
        width: 100%;
      }
    }
    &__description{
      font-size: 20px;
    }
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 

}


@media (min-width: 1200px) { 

}