.sideBar {
  position: fixed;
  left: -170px;
  top: 0;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 9px 16px -2px rgba(0, 0, 0, 0.75);
  transition: left 0.7s;
  cursor: pointer;

  &:hover{
    left: 0;
  }
  &__name {
    padding: 15px;
    background: linear-gradient(to right, #0aa1ff 10%, #6dc7ff 100%);
    margin-bottom: 20px;
    font-family: "Pattaya", sans-serif;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 28px;
    }
  }
  &__navItem {
    padding: 10px 65px 0 20px;
    font-weight: 500;
    color: #727272;
    font-size: 18px;
    margin-bottom: 10px;
    border-right: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
    &:hover {
      /* border-right: 4px solid #0aa1ff; */
      color: #0aa1ff;
    }
  }
  .active {
    color: #0aa1ff;
    border-right: 4px solid #0aa1ff;
    border-bottom: none !important;
  }
}
