.sideBar {
  position: fixed;
  left: -165px;
  top: 0;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 9px 16px -2px rgba(0, 0, 0, 0.75);
  transition: left 0.5s;
  cursor: pointer;
  z-index: 1000;

  &:hover {
    left: 0;
  }
  &__name {
    padding: 15px;
    background: linear-gradient(to left, #30a06e, #02b521);
    margin-bottom: 20px;
    font-family: "Pattaya", sans-serif;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      font-size: 28px;
    }
  }
  &__navItem {
    padding: 10px 65px 10px 20px;
    font-weight: 500;
    color: #727272;
    font-size: 18px;
    margin-bottom: 10px;
    border-right: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
    &:hover {
      /* border-right: 4px solid #0aa1ff; */
      color: #ffb400;
    }
  }
  .active {
    color: #ffb400;
    border-right: 4px solid #ffb400;
    border-bottom: none !important;
  }
}
