.header {
  display: block;
  padding: 10px 15px 10px 15px;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  background: transparent;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
  }
  &__logo {
    width: 185px;
  }
  &__logoImg {
    width: 100%;
    border: none !important;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__navLink {
    font-family: "Ubuntu", sans-serif;
    text-transform: lowercase;
    font-weight: 300;
    text-decoration: none;
    color: #e5e5e5;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
      color: #ffb400;
    }
  }

  &__shop {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    i {
      transition: all 0.3s;
      z-index: 100;
      &:hover {
        color: #ffb400;
      }
    }
  }
  &__shopCalc {
    z-index: 200;
    position: absolute;
    background: linear-gradient(to right, #30a06e, #02b521);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    top: 2px;
    right: 10px;
  }
}

.active {
  color: #ffb400;
  border-bottom: 1px solid #ffb400;
}



@media (max-width: 575.98px) {
  .header {
    display: none;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
  .header {
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) { 

}


@media (min-width: 992px) and (max-width: 1199.98px) { 

}


@media (min-width: 1200px) { 

}