.shop {
  display: flex;
  min-height: calc(100vh - 73.69px);
  position: relative;
  background: url("../../assets/images/products-background.jpg") no-repeat;
  background-size: cover;

  &__products {
    width: 85%;
  }

  &__products:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(15, 15, 15, 0.7);
    content: "";
  }

  &__sidebar {
    width: 15%;
    z-index: 1;
    background: rgba(211, 221, 229, 0.4);
    box-shadow: -4px 0px 5px 0px rgba(2, 2, 2, 0.41);
  }
}
