/* .shop {
  display: flex;
  min-height: calc(100vh - 73.69px);
  position: relative;
  background: url("../../assets/images/products-background.jpg") no-repeat;
  background-size: cover;

  &__products {
    width: 85%;
  }

  &__products:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(15, 15, 15, 0.7);
    content: "";
  }

  &__sidebar {
    width: 15%;
    z-index: 1;
    background: rgba(211, 221, 229, 0.4);
    box-shadow: -4px 0px 5px 0px rgba(2, 2, 2, 0.41);
  }
}
 */

.shop {
  &__mainContent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/images/background-shop.png) no-repeat center
      center;
    background-size: cover;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      z-index: 100;
    }
  }
  &__chooseCateg {
    position: relative;
    z-index: 200;
  }
  &__title {
    font-weight: 700;
    font-size: 55px;
    color: #ffb400;
  }
}
