.shop {
  z-index: 1;
  &__mainContent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../assets/images/background-shop.png) no-repeat center
      center;
    background-size: cover;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.7);
      z-index: 100;
    }
  }
  &__chooseCateg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 200;
  }
  &__title {
    font-weight: 700;
    font-size: 58px;
    color: #ffb400;
    margin-bottom: 63px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 17px;
      position: relative;
      &:last-child{
        margin-bottom: 0;
      }
      &:before{
        position: absolute;
        content: "";
        top: 50%;
        left: -41px;
        height: 16px;
        width: 16px;
        border: 1px solid #fff;
        background: transparent;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__active{
    color: #fff !important;
    &:before{
      position: absolute;
        content: "";
        top: 50%;
        left: -41px;
        height: 16px;
        width: 16px;
        border: 1px solid #fff;
        background: transparent;
        border-radius: 50%;
        transform: translateY(-50%);
        background: #fff !important;
    }
  }
  &__arrow{
    position: absolute;
    z-index: 200;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
    cursor: pointer;
    &:hover{
      bottom: 45px;
    }
  }
 
}

.products{
  position: relative;

  &__topArrow{
    position: fixed;
    font-size: 60px;
    bottom: 50px;
    right: 50px;
    color: #ffb400;
    transition: bottom 0.4s;
    &:hover{
      bottom: 58px;
      cursor: pointer;
    }
  }
}

.hidden{
  visibility: hidden !important;
}

@media (max-width: 575.98px) {
  .shop{
    &__title{
      font-size: 45px;
      text-align: center;
    }
   
  }
  .products{
    &__topArrow{
      background: #ffb400;
      color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 30px;
      right: 30px;
      transform: none;
      transition: none;
      -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.75);

      &:hover{
        bottom: 30px;
      }
    }
    .hidden{
      visibility: hidden;
    }
  }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
 
}


@media (min-width: 768px) and (max-width: 991.98px) { 

}


@media (min-width: 992px) and (max-width: 1199.98px) { 

}


@media (min-width: 1200px) { 

}