html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
.container {
  padding: 1rem;
}

.btnDefault {
  font-size: 18px;
  font-weight: bold;
  color: rgba(5, 5, 5, 1);
  border: 2px transparent;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #ffc31e;
  padding: 8px;
  transition: all 0.6s;

  &:hover {
    cursor: pointer;
    background: #ffc31e;
    border: 2px solid #ffc31e;
    color: #ffffff;
  }
}

body {
  font-family: "Ubuntu", sans-serif !important;
  overflow-y: scroll;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.under-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
button {
  outline: none !important;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 20px;
  left: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffc31e;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-button:hover .bm-burger-bars {
  background: linear-gradient(to right, rgba(48, 160, 110, 1), rgba(2, 181, 33, 1));
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 32px;
  width: 32px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffc31e;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  display: none;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(to bottom, rgba(48, 160, 110, 1), rgba(2, 181, 33, 0.4));
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: unset !important;
  
}


/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 26px;
  transition: all 0.2s;
}
.bm-item i {
  margin-right: 5px;
  font-size: 20px;
}
.bm-item:hover i{
  color: #ffc31e;
}

.bm-item.active {
  border-bottom: none;
  color: #ffc31e;
 /*  transform: translateX(20px) */
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

@media (max-width: 767.98px) {
  .bm-burger-button {
    display: inline;
  }
  .bm-overlay {
    display: block;
  }
  .bm-menu-wrap {
    display: block;
  }
 }